{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>suisui</title>
    <link rel="stylesheet" type="text/css" href="{%static 'home/style.css' %}">
    <div class="wrap">
    <h1 class="siteName">WebDarts</h1>
    <h3 class="providerName">YamaDarts</h3></li>
  </div>


    <nav class="wrap_nav">
    <a href="{% url 'top:index' %}">Top</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">SignUp</a>
    <a href="{% url 'login' %}">Information</a>
    {% comment %} <a href="menu02.html">Information</a> {% endcomment %}
    </nav>

</head>

<body>
<div class="container">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>