{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>WebDarts</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>

<body>
    <nav class="global-nav">
        <a class="global-content" href="{% url 'top:index' %}">Top</a>
        <a class="global-content" href="{% url 'login' %}">Login</a>
        <a class="global-content" href="{% url 'accounts:signup' %}">SignUp</a>
        {% comment %} <a class="global-content" href="{% url 'login' %}">Information</a> {% endcomment %}
    </nav>
    <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>